<li class="dropdown-item"><a class="nav-link disabled" href="#">Admission Rules - JRF</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Admission Rules - PG</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Admission Rules - UG</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Selection Policy - non-JRF</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Selection Policy - JRF</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Selection Policy - GATE Channel</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Reservation Policy</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Prospectus</a></li>
<li class="dropdown-item"><a class="nav-link disabled" href="#">Admission Notice</a></li>
