
body
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.9em;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
    font-size: 120%;
}

a
{
    text-decoration: none;
}

header
{
    margin-bottom: 2em;
}

.blue { background: #67afe9 }

.copyright
{
    padding: 3em 0em;
    background: url(images/img10.png) no-repeat center top;
    text-align: center;
    /* text-transform: uppercase;   */
    /* color: rgba(255,255,255,.4); */
    color: black;
}

.byline
{
    color: #800000;
}

.highlight
{
    font-weight: bold;
    color: #ff0000;
    font-style: normal
}

div.announcements, div.dates
{
    padding: 10px;
}

.navbar, .dropdown-menu
{
    background-color: #012367;
    margin: 0px;
    padding: 0px;
}

.nav-item
{
    background-color: #012367;
    border: solid 1px #123478;
}

.nav-item a
{
    color: #eeeeee;
    text-transform: uppercase;
}
    
.nav-item:hover
{
    background-color: #1515ee;
}

div.dates ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li .date
{
    float: left;
    width: 78px;
    height: 78px;
    margin: 0px 25px 0px 0px;
    padding: 6px 0px 0px 0px;
    background: url(images/img07.jpg) no-repeat left top;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 200;
    color: #FFFFFF;
    background-color: blue;
}

li .date strong {
    display: block;
    margin: 5px 0px 0px 0px;
    padding: 0;
    letter-spacing: -1px;
    font-size: 3em;
    font-weight: 500;
    color: #FFFFFF;
}

li .date a {
    color: #FFFFFF;
}

li .date a:hover {
    text-decoration: none;
}
